@media (max-width:1200px) {
    .navbar .top .search {
        width: 250px;
    }

    .navbar .top .login-dropdown.dropdown {
        width: 170px;
    }

    .navbar .points p {
        font-size: 20px;
    }

    .navbar .points {
        width: 117.32px;
        padding: 6px 15px;
    }

    .navbar .loction-info span:nth-child(2) {
        font-size: 10px;
    }

    /* TRENDING  strat */
    .tranding-outer .cupon-code-button,
    .discountcoupon-outer .cupon-code-button,
    .cupon-outer .cupon-code-button {
        font-size: 12px;
    }

    /* TRENDING  End */


    /* Cupon Start Cashback Start*/

    .cupon-outer .cupon-inner .item,
    .cashbackoffer-outer .item,
    .cupon-offer-outer .item,
    .discountcoupon-outer .item,
    .cashback-store .item {
        width: 25%;
    }

    /* Cupon End */

    /* Voucher Start */
    .voucher-outer .item-inner span,
    .vouchercupon-outer .item-inner span,
    .voucherpage-outer .item-inner span {
        font-size: 12px;
    }

    /* Voucher End */




    /* Sub Terms-condition Start */
    .sub-model-outer,
    .sub-terms-outer {
        width: 30%;
    }

    .user-terms-outer .sub-terms-outer {
        width: 40%;
    }

    /* Sub Terms-condition End */
    /* Wallet Dashbord Start */

    .wallet-outer .balance-outer .your-balance {
        width: 20%;
    }

    .wallet-history .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn {
        padding: 0 50px;
    }

    .income-outer .compny-profile .item-inner .top img {
        height: 12px;
    }

    .income-outer .compny-profile .item-inner .top .rating,
    .income-outer .compny-profile .item-inner .top p {
        font-size: 10px;
    }

    .income-outer .compny-profile .item-inner .bottom .getoff span {
        display: block;
    }

    /* Wallet Dashbord End */

    /* Loyalty-points Strat */
    .loyalty-points-outer .bestdeal-outer .item {
        width: 25%;
    }

    .loyalty-point-modal,
    .trackmodal-outer {
        width: 40%;
    }

    /* Loyalty-points End */

    /* Change Password Start */
    .change-password-outer .change-password {
        width: 70%;
    }



}

@media (max-width : 1200px) and (min-width:991px) {

    /* Footer Start */
    footer .app-icon img {
        height: 30px;
    }

    footer .footer-heading h4 {
        font-size: 18px;
    }

    footer .footer-menu li a {
        font-size: 12px;
    }

    footer .latest-deal p {
        font-size: 10px;
    }

    /* Footer End */

    /* Subscribe Start */
    .subscribe-outer .left {
        margin: 35px 0;
    }

    .subscribe-outer .heading h3 {
        font-size: 16px;
    }

    /* Subscribe End */

    /* scnner Start */
    .scaner-outer .code {
        font-size: 25px;
    }

    .scaner-outer .date-id span {
        font-size: 17px;
    }

    .scaner-outer .date-id h4 {
        font-size: 18px;
    }

    /* scnner End */


}

@media (max-width: 991px) {
    .container {
        max-width: 100%;
    }

    /* Header start */
    .navbar .top .info {
        justify-content: end;
    }

    .navbar .top .loction-info {
        width: 28px;
        height: 28px;
    }

    .navbar .top .loction-info span:last-child,
    .navbar .top .search,
    .navbar .top .login-dropdown.dropdown {
        display: none;
    }

    .navbar .bottom .header-info-bottom {
        display: block;
    }

    .navbar .points {
        width: 28px;
        height: 28px;
        padding: 0;
        align-items: center;
        background-color: #fff;
        margin: 0;
    }

    .navbar-nav {
        padding-top: 55px;
    }

    .navbar .points img {
        width: 25px;
        height: 25px;
    }

    .navbar .points p {
        display: none;
    }

    .navbar .bottom {
        position: relative;
    }

    .navbar .bottom #basic-navbar-nav {
        position: absolute;
        top: 0%;
        left: 0;
        width: 300px;
        background: #A9D5B2;
        height: 1200px;
        z-index: 99;
    }

    .navbar .bottom .search,
    .navbar .bottom .login-dropdown.dropdown {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar .bottom a {
        font-size: 14px;
        border: none !important;
        text-align: left;
        padding: 8px 15px !important;
    }

    .navbar .bottom .dropdown-menu.show>a {
        display: block;
        width: 100%;
        border: none;
    }

    .navbar .bottom .search {
        width: 100%;
        padding-bottom: 20px;
    }

    .navbar .bottom .search button {
        top: 9px;
        left: 24px;
    }

    .navbar .bottom .dropdown button {
        border: none;
        background: none;
        text-align: left;
        padding-left: 0;
        font-size: 14px;
        color: #002408;
    }

    .navbar .navbar-toggler.collapsed .navbar-toggler-icon {
        background-image: url(../Image/menu.png) !important;
    }

    .navbar .navbar-toggler .navbar-toggler-icon {
        background-image: url(../Image/close.png) !important;
    }

    /* Header End */

    /* Tranding Start */
    .tranding-outer .cupon-code-button,
    .discountcoupon-outer .cupon-code-button,
    .cupon-outer .cupon-code-button,
    .cashback-store .cupon-code-button {
        font-size: 12px;
    }

    /* Tranding End */

    /* Subscribe Start */

    .subscribe-outer .left {
        order: 2;
    }

    .subscribe-outer .right {
        order: 1;
    }

    .subscribe-outer .img-content {
        text-align: center;
    }

    .subscribe-outer img {
        width: 70% !important;
        margin: 0 auto;
    }

    .subscribe-outer .text-content {
        padding: 30px 0;
        text-align: center;
    }

    /* Subscribe End */

    /* Popular Store Start */
    .store-outer .left .inner {
        width: 50%;
        margin: 0 auto;
    }

    .store-outer .left {
        margin-bottom: 30px;
    }

    /* Popular Store End */

    /* Sign in Start */
    .login-outer,
    .signup-outer {
        width: 90%;
    }

    /* Sign in End */

    /* Location Start */
    .location-outer {
        width: 40%;
    }

    /* Location End */

    /* Scanner Start */
    .scaner-outer {
        width: 40%;
    }

    .scaner-outer .code {
        font-size: 20px;
    }

    .scaner-outer .expiration h4,
    .scaner-outer .referelid h4 {
        font-size: 14px;
    }


    /* Scanner End */

    /* Cupon Start Cashback Start*/

    .cupon-outer .cupon-inner .item,
    .cashbackoffer-outer .item,
    .cupon-offer-outer .item,
    .discountcoupon-outer .item,
    .cashback-store .item {
        width: 33.33%;
    }

    /* Cupon End */

    /* Sub Terms-condition Start */
    .sub-model-outer,
    .user-terms-outer .sub-terms-outer,
    .sub-terms-outer {
        width: 40%;
    }

    /* Sub Terms-condition End */

    /* Suscription Plane Start */
    .sub-plan-outer .item .item-inner {
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 20px;

    }

    /* Suscription Plane End */

    /* Footer Start */
    footer .bottom .bottom-inner {
        display: block;
        text-align: center;
    }

    footer .bottom ul {
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    /* Footer End */
    /* Notification Start */
    .notification-outer {
        width: 60%;
        margin: 0 auto;
    }

    /* Notification End */

    /* Loyalty Points Start */
    .loyaltipoints-outer,
    .trackmodal-outer {
        width: 60%;
    }

    /* Loyalty Points End */


    /* Wallet Dashbord Start */

    .wallet-outer .balance-outer .your-balance {
        width: 30%;
    }


    .wallet-history .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn {
        padding: 0 30px;
    }

    .withdrawal-outer.modal.show {
        width: 50%;
    }

    .bank-outer .bank-inner {
        width: 100%;
    }

    /* Wallet Dashbord End */


    /* Loyalty-points Strat */
    .loyalty-points-outer .bestdeal-outer .item {
        width: 33.33%;
    }

    .loyalty-point-modal {
        width: 50%;
    }


    /* Loyalty-points End */

    .change-password-outer .change-password {
        width: 100%;
    }

    .become-outer .become-inner {
        text-align: center;
    }

    .become-outer .img-content {
        margin-left: 0;
    }

    .become-outer .img-content img {
        transform: rotate(0deg);
    }

    .subscribe-outer .text-content {
        margin-left: 0;
    }

    /* Faq  Start*/
    .faq-outer .item:first-child {
        order: 2;
    }

    /* Faq  End*/

}

@media (max-width :767px) {



    /* ~sUBSCRIBE Start */
    .subscribe-inner {
        margin: 0 50px;
    }

    .store-outer .left .img-content {
        height: 100%;
    }

    /* ~sUBSCRIBE End */


    /* Voucher Start */
    .voucher-outer .item-inner span,
    .vouchercupon-outer .item-inner span {
        font-size: 12px;
    }

    /* Voucher End */
    /* Location Start */
    .location-outer {
        width: 50%;
    }

    /* Location End */
    /* Scanner Start */
    .scaner-outer {
        width: 60%;
    }


    /* Scanner End */

    /* Cupon Start Cashback Start*/

    .cupon-outer .cupon-inner .item,
    .cashbackoffer-outer .item,
    .cupon-offer-outer .item,
    .discountcoupon-outer .item,
    .cashback-store .item {
        width: 50%;
    }

    /* Cupon End */

    /* Cupon Decription Start */
    .cupon-description-outer .code-button a {
        display: inline;
        padding: 10px 50px;
    }

    .cupon-description-outer .note {
        padding-top: 30px;
    }

    .cupon-description-outer .heading h4 {
        padding-bottom: 16px;
    }

    /* Cupon Decription Start */

    /* Sub Terms-condition Start */
    .sub-model-outer,
    .user-terms-outer .sub-terms-outer,
    .sub-terms-outer {
        width: 60%;
    }

    /* Sub Terms-condition End */

    /* Pyment Details Start */
    .pyment-detail-outer .pyment-detail-inner {
        width: 100%;
    }

    /* Pyment Details End */

    /* Dasbord Profile Start */

    .profile-outer .profile-img {
        padding: 0;
        text-align: center;
    }

    .profile-outer .profile-img img {
        max-width: 400px;
    }

    .profile-outer .text-content:last-child .submit-form a {
        width: 100%;
        display: block;
    }

    /* Dasbord Profile End */

    /* Loyalty Points Start */
    .loyaltipoints-outer {
        width: 70%;
    }

    /* Loyalty Points End */
    /* Wallet Dashbord Start */

    .wallet-outer .balance-outer .your-balance {
        width: 40%;
    }

    .withdrawal-outer.modal.show {
        width: 80%;
    }


    /* Wallet Dashbord End */

    /* Loyalty-points Strat */

    .loyalty-points-outer .top .current-coins {
        width: 60%;
    }

    .loyalty-points-outer .bestdeal-outer .item {
        width: 50%;
    }

    .loyalty-point-modal,
    .trackmodal-outer {
        width: 70%;
    }

    /* Loyalty-points End */
}





@media (max-width: 575px) {

    /* Footer Start */
    footer .footer-logo {
        text-align: left;
    }

    footer .app-icon {
        justify-content: start;
        width: 300px;
    }

    footer .app-icon {
        display: block;
        text-align: left;
    }

    footer .app-icon img {
        width: auto;
    }

    footer .soical-icon-list {
        width: 275px;
    }

    footer .footer-menu {
        padding-bottom: 20px;
    }

    /* Footerr End */

    /* Subscribe Start */

    .subscribe-inner {
        margin: 0;
    }

    .subscribe-outer .heading h3 {
        font-size: 14px;
    }

    /* Subscribe End */
    /* Popular Store Start */
    .store-outer .left .inner {
        width: 100%;
        margin: 0 auto;
    }

    /* Popular Store End */
    /* Login Start */
    .login-outer .left,
    .change-password-outer .change-password .left {
        border-radius: 10px 10px 0 0;
    }

    .login-outer .right,
    .change-password-outer .change-password .right {
        border-radius: 0 0 10px 10px;
    }

    .login-outer .privacy-check label {
        font-size: 12px;
    }

    .merchant-login .img-content,
    .operator-login .img-content {
        text-align: center;
        height: auto;
        top: 0;
        transform: translate(0, 0%);
    }


    /* Login End */
    /* Location Start */
    .location-outer {
        width: 90%;
    }

    /* Location End */
    /* Scanner Start */
    .scaner-outer {
        width: 90%;
    }


    /* Scanner End */

    /* Cupon Start Cashback Start*/

    .cupon-outer .cupon-inner .item,
    .cashbackoffer-outer .item,
    .cupon-offer-outer .item,
    .discountcoupon-outer .item,
    .cashback-store .item {
        width: 100%;
    }

    /* Cupon End */

    /* Cupon Descrtiption Start */
    .cupon-description-outer .heading {
        text-align: center;
    }

    .cupon-description-outer .heading h3 {
        display: block;
    }

    .cupon-description-outer .heading .button {
        margin-left: 0;
    }

    .cupon-description-outer .img-content .img-group {
        display: flex;
        order: 2;
    }

    .cupon-description-outer .img-group img {
        margin-top: 25px;
        margin-bottom: 0 !important;
        padding: 0 10px;
    }

    /* Cupon Descrtiption End */

    /* Sub Terms-condition Start */
    .sub-model-outer {
        width: 90%;
    }

    .user-terms-outer .sub-terms-outer,
    .sub-terms-outer {
        width: 80%;
    }

    /* Sub Terms-condition End */
    /* Notification Start */
    .notification-outer {
        width: 90%;
    }

    /* Notification End */

    /* Loyalty Points Start */
    .loyaltipoints-outer {
        width: 90%;
    }

    /* Loyalty Points End */

    /* Wallet Dashbord Start */
    .wallet-outer .balance-outer {
        display: block;
    }

    .wallet-outer .balance-outer .your-balance {
        width: 100%;
    }

    .wallet-outer .balance-outer .item {
        margin-bottom: 20px;
    }


    .withdrawal-outer.modal.show {
        width: 90%;
    }

    /* Wallet Dashbord End */
    /* Loyalty-points Strat */
    .loyalty-points-outer .top {
        flex-wrap: wrap;
    }

    .loyalty-points-outer .top .current-coins {
        width: 100%;
        margin-bottom: 20px;
    }

    .loyalty-points-outer .top .oreder-now {
        width: 100%;
    }

    .loyalty-points-outer .bestdeal-outer .item {
        width: 100%;
    }

    .loyalty-point-modal,
    .trackmodal-outer {
        width: 90%;
    }

    /* Loyalty-points End */

    .become-outer .img-content img {
        width: 100%;
    }

    .faq-outer .item img {
        width: 100%;
    }

}